* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* -- Header -- */

header {
    background-color: #24292e;
    width: 100%;
    height: 54px;
    /*text-align: center;*/
}

#main-logo {
    display: inline-block;
    position: absolute;
    left: 311px;
    top: -1px;
}

#main-logo img {
    height: 32px;
    width: auto;
    margin: 11px 0;
}

#search_git {
    display: inline-block;
    position: absolute;
    left: 359px;
    top: 11px;
}

#search_git input {
    width: 299.98px;
    height: 30px;
    background-color: #3f4448;
    color: #8c8f92;
    border: none;
    padding: 5px;
    font-size: 14px;
}

#main-nav {
    position: absolute;
    left: 670px;
    top: 12px;
}

#main-nav nav ul li {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #93979c;
}

#right-nav {
    display: inline-block

}

.plus-arrow {
    position: absolute;
    right: 400px;
    top: 20px;
}

.plus {
    height: 12px;
    width: 12px;
}

.arrow {
    height: 8px;
    width: 8px;
}

#right-nav {
    display: inline-block;
}

.pic-arrow {
    position: absolute;
    right: 348px;
    top: 18px;
}

.pro-pic {
    height: 20px;
    width: 20px;
}

/* -- End Header -- */

/* -- Begin Body -- */

/* HERO SPACE */

.container {
    max-width: 100%;
    height: 301px;
    /* note: gradient used from gitHub site */
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #dbedff 32%, #ebfff0);
    text-align: center;
    padding: 20px;
}

#x_icon {
    height: 28px;
    width: 28px;
    position: absolute;
    right: 353px;
}

.hero_content {
    display: inline-block;
    max-width: 600px;
}

.hero_content h2 {
    color: #393f43;
    font-size: 28px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.hero_content p {
    color: #393f43;
    font-size: 18px;
    padding-bottom: 20px;
}

.buttons button {
    height: 40px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.read_button {
    background-color: #28a745;
    color: white;
}

.start_button {
    background-color: #f4f6f7;
}

/* Left Content Box */

.left-content {
    display: inline-block;
    height: 230px;
    width: 700px;
    border: 3px dashed lightgrey;
    border-radius: 3px;
    margin: 30px 0 0 285px;
    padding-bottom: 10px;
}

.left-content h2 {
    padding: 30px 10px 10px 25px;
    letter-spacing: .5px;
}

.left-content p {
    padding: 0 10px 10px 25px;
    font-size: 18px;
    letter-spacing: .5px;
}

.left-content p a {
    text-decoration: none;
    color: #549ee7;
}

.button2 button {
    height: 35px;
    width: 140px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #0366d6;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 25px;
}

/* Right Content Box */

.right_content {

}

.right_content h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #c9ced3;
    background-color: ##f6f8fa;
    padding: 8px 180px 8px 5px;
    position: absolute;
    right: 324px;
    top: 386px;
}

.circle_img img {
    height: 18px;
    width: 18px;
    display: inline-block;
    position: absolute;
    right: 485px;
    top: 394px;
}

.three {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 490px;
    top: 394px;

}

.button3 button {
    display: inline-block;
    height: 28px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    background-color: #28a745;
    color: #fff;
    position: absolute;
    right: 332px;
    top: 390px;
}

.middle {
    display: inline-block;
}

.search_rep {
    display: inline-block;
    padding: 11px 43px 65px 43px;
    border-left: 1px solid #c9ced3;
    border-right: 1px solid #c9ced3;
    position: absolute;
    right: 324px;
    top: 422px;
}

.search_rep input {
    height: 28px;
    width: 230px;
    border-color: #c9ced3;
    padding-left: 5px;
}

.nav_2 ul li {
    display: inline-block;
    max-width: 318.3px;
    height: 50px;
    font-size: 12px;
    color: #586069;
    letter-spacing: .5px;
    padding: 0 5px;
}

.nav_2 ul {
    position: absolute;
    right: 365px;
    top: 473px;
}

.current {
    border-bottom: 3px solid #e05121;
}

img {
    display: inline-block;
    height: 13px;
    width: 13px;
}

.book1 {
    position: absolute;
    right: 618px;
    top: 535px;
}

.book2 {
    position: absolute;
    right: 618px;
    top: 563px;
}

.book3 {
    position: absolute;
    right: 618px;
    top: 591px;
}

.link1 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #0366d6;
    border: 1px solid #c9ced3;
    padding: 5px 164px 5px 31px;
    position: absolute;
    right: 324px;
    top: 526px;
}

.link2 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #0366d6;
    border: 1px solid #c9ced3;
    padding: 5px 178px 5px 31px;
    position: absolute;
    right: 324px;
    top: 555px;
}

.link3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #0366d6;
    border: 1px solid #c9ced3;
    padding: 5px 164px 5px 31px;
    position: absolute;
    right: 324px;
    top: 584px;
}

hr {
    max-width: 880px;
    color: #c9ced3;
    margin: 30px 400px 50px 370px;
}

footer ul li {
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    color:#0366d6;
}

.copywrite {
    color: #586069;
}

.foot_git {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 830px;
    top: 712px;
}

.foot_nav1 {
    position: absolute;
    left: 316px;
}

.foot_nav2 {
    position: absolute;
    right: 374px;
}
